$main-text-color: #000000;
$main-link-color: #007bff;
$main-link-over-color: #0004f8; 

$bar-color: #007bff;
$bar-text-color: #ffffff;
$bar-link-color: #ffffff;
$bar-link-over-color: #ffe484;
$bar-link-disabled-color: #00aaff;
$bar-button-color: #ffe484;
$bar-button-border-color: #ffe484;

$reverse-color: #ffe484;
$reverse-text-color: #007bff;


