$main-text-color: #000000;
$main-link-color: #7e4aca;
$main-link-over-color: #2e0e5e;

$bar-color: #563d7c;
$bar-text-color: #ffffff;
$bar-link-color: #ffffff;
$bar-link-over-color: #ffe484;
$bar-link-disabled-color: #a47be0;
$bar-button-color: #ffe484;
$bar-button-border-color: #ffe484;

$reverse-color: #ffe484;
$reverse-text-color: #007bff;
