@import "variables";

.navbar {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  background-color: $bar-color;
  color: $bar-text-color;

  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: $bar-text-color;
    font-weight: 500;
  }

  .nav-item {
    font-size: 14px;
  }

  .nav-link {
    text-align: center;
    span {
      font-size: 0.65rem;
      display: block;
    }

    &:link,
    &:visited {
      color: $bar-link-color !important;
    }

    &:hover,
    &:focus,
    &:active {
      color: $bar-link-over-color !important;
    }
  }

  .nav-link.disabled {
    color: $bar-link-disabled-color !important;
  }

  .dropdown-item.disabled {
      color: $menu-link-disabled-color !important;
  }

  .dropdown-item .ng-fa-icon {
      margin-right: 10px;
  }

  .form-inline {
    margin-right: 20px;

    .btn {
      color: $bar-button-color;
      border-color: $bar-button-border-color;

      &:hover,
      &:focus,
      &:active {
        background-color: $reverse-color !important;
        border-color: $reverse-color !important;
        color: $reverse-text-color !important;
        box-shadow: none;
      }
    }
  }
}
