@import "variables";

.table .table-bar {
    background-color: $bar-color;
    color: $bar-text-color;
}

.card-header span {
    margin-left: 5px;
}

.list-group-item a span {
    margin-left: 5px;
}