@import "variables";

html,
body {
  color: $main-text-color;

  a:link,
  a:visited {
    color: $main-link-color !important;
  }

  a:hover,
  a:focus,
  a:active {
    color: $main-link-over-color !important;
    text-decoration: none;
  }

  .btn.btn-primary {
    color: $button-text-color;
    background-color: $button-color;
    border-color: $button-border-color;

    &:link,
    &:visited {
      color: $button-link-color !important;
    }

    &:hover,
    &:focus,
    &:active {
      color: $button-link-over-color !important;
      text-decoration: none;
    }
  }

  .card .card-header {
    background-color: $bar-color;
    color: $bar-text-color;
  }

  .custom-centered {
    margin: 0 auto;
  }

  .container {
    max-width: 100%;
  }

}
