@import "variables";

html,
body {
  color: $main-text-color;

  a:link {
    color: $main-link-color !important;
  }

  a:hover,
  a:focus,
  a:active {
    color: $main-link-over-color !important;
  }
  
}
